body {
  background-color: #f9f7f7;
}

hr {
  border-style: None;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  width: 40%;
}

h1 {
  color: #112d4e;
}

h3 {
  color: #3f72af;
}

h3:hover {
  color: black;
}

/* ------------------------------Class Selector-------------------- */
.h3_table {
  font-size: large;
}

.circular {
  border-radius: 100%;
}

.cl_Image_text:hover {
  font-weight: bolder;
}

/* ------------------------------ID Selector-------------------- */

#Introduction {
  font-weight: bold;
}
